Repository sylvaingchassang/ddss-safely-report: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, isort, black, mypy, poetry-export

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# We use local hooks so that we don't pass the changed filenames in as args,
# so that the ignores we defined in the configs work
repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: flake8 .
        language: python
        additional_dependencies: ["flake8==4.0.1"]
        types: [python]
        pass_filenames: false
      - id: isort
        name: isort
        entry: isort .
        language: python
        additional_dependencies: ["isort==5.10.1"]
        types: [python]
        pass_filenames: false
      - id: black
        name: black
        entry: black .
        language: python
        additional_dependencies: ["black==22.3.0"]
        types: [python]
        pass_filenames: false
      - id: mypy
        args: [--ignore-missing-imports]
        name: mypy
        entry: mypy .
        language: python
        additional_dependencies: ["mypy==0.931"]
        types: [python]
        pass_filenames: false
      - id: poetry-export
        name: poetry-export
        description: run poetry export to sync lock file with requirements.txt
        entry: poetry export
        language: python
        language_version: python3
        pass_filenames: false
        files: ^poetry.lock$
        args: ["-f", "requirements.txt", "-o", "requirements.txt"]

Clear session data if survey response has been successfully stored in database
  app.py
  survey_processor.py
  survey_session.py
Due: flake8, isort, black, mypy

Relocate `count_visit()` closer to other visit-related methods
  survey_session.py
Due: flake8, isort, black, mypy

Do not support infinite repeat
  survey_processor.py
Due: flake8, isort, black, mypy

Relocate `_get_next_sibling()` as it is now an instance method
  survey_processor.py
Due: flake8, isort, black, mypy

Make survey repeat itself, rather than error out, when reaching the end
  survey_processor.py
Due: flake8, isort, black, mypy

When moving to previous question, ensure full "refresh" by moving back twice and forward once
  app.py
  survey_processor.py
Due: flake8, isort, black, mypy

Set up DB connection and migration
  .flake8
  .flaskenv.example
  .gitignore
  app.py
  migrations/alembic.ini
  migrations/env.py
  migrations/script.py.mako
  poetry.lock
  pyproject.toml
  requirements.txt
Due: flake8, isort, black, mypy, poetry-export

Route to submission page if reaching survey end
  app.py
  survey_processor.py
Due: flake8, isort, black, mypy

Implement storage of survey response
  app.py
  survey_processor.py
  survey_session.py
  utils.py
Due: flake8, isort, black, mypy

List public functions before private ones
  utils.py
Due: flake8, isort, black, mypy

Fix error from rebase
  survey_processor.py
Due: flake8, isort, black, mypy

User better variable names
  app.py
  utils.py
Due: flake8, isort, black, mypy

Commit `migrations/versions/` folder (but not its contents until schema dev gets stable)
  .gitignore
  migrations/versions/.gitignore
Due: none

Use cleaner imports
  read_xlsform.py
Due: flake8, isort, black, mypy

Improve survey processor's instantiation interface
  app.py
  read_xlsform.py
  survey_processor.py
  tests/unit/survey_processor/conftest.py
Due: flake8, isort, black, mypy

Remove unused imports
  tests/unit/survey_processor/conftest.py
Due: flake8, isort, black, mypy

Set up integration testing
  tests/integration/__init__.py
  tests/integration/conftest.py
  tests/integration/survey_processor/__init__.py
  tests/integration/survey_processor/test_navigation.py
  tests/utils.py
Due: flake8, isort, black, mypy

Use more accurate variable name
  read_xlsform.py
Due: flake8, isort, black, mypy

Add more info to class docstrings
  form_generator.py
  read_xlsform.py
  survey_processor.py
  survey_session.py
Due: flake8, isort, black, mypy

Update overview text in README
  README.md
Due: none

Use consistent key ordering for pre-commit hooks
  .pre-commit-config.yaml
Due: none

Update and streamline pre-commit hooks
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: poetry-export

Raise an error if required env var is not defined
  .env.example
  settings.py
  utils.py
Due: flake8, isort, black, mypy

Add a pre-commit hook to run tests
  .pre-commit-config.yaml
Due: none

Streamline configs
  .flaskenv.example
  app.py
  settings.py
Due: flake8, isort, black, mypy

Resolve issues raised by updated pre-commit hooks
  survey_processor.py
  tests/utils.py
Due: flake8, isort, black, mypy

Add to README setup instructions
  README.md
Due: none

Implement form for `note` elements
  form_generator.py
  templates/survey.html
Due: flake8, isort, black, mypy

Raise an error if encountering an unsupported input type
  form_generator.py
  tests/data/stats4sd_example_xlsform_adapted.xlsx
Due: flake8, isort, black, mypy

Style up survey view
  static/styles.css
  templates/base.html
  templates/survey.html
Due: none

Improve view of form navigation buttons
  templates/survey.html
Due: none

Comment out debugging view
  templates/survey.html
Due: none

Improve view of itemized input field
  static/styles.css
Due: none

Create a separate page for response submit
  app.py
  templates/submit.html
Due: flake8, isort, black, mypy

Display hint (if provided)
  form_generator.py
  templates/survey.html
Due: flake8, isort, black, mypy

Set up containerization for more effective deployment
  .dockerignore
  Dockerfile
  docker-entrypoint.sh
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-export

Reorganize app files
  app.py
  safely_report/__init__.py
  safely_report/models.py
  safely_report/settings.py
  safely_report/static/styles.css
  safely_report/survey/__init__.py
  safely_report/survey/form_generator.py
  safely_report/survey/read_xlsform.py
  safely_report/survey/survey_processor.py
  safely_report/survey/survey_processor_base.py
  safely_report/survey/survey_session.py
  safely_report/survey/templates/survey/run_survey.html
  safely_report/survey/templates/survey/submit_survey.html
  safely_report/survey/views.py
  safely_report/templates/base.html
  safely_report/utils.py
  tests/integration/conftest.py
  tests/integration/survey_processor/test_navigation.py
  tests/unit/survey_processor/conftest.py
  tests/unit/survey_processor/test_curr_lang.py
  tests/unit/survey_processor/test_formula_translation.py
  tests/unit/survey_processor/test_set_curr_value.py
  tests/utils.py
Due: flake8, isort, black, mypy

Validate garbling rate
  garbling.py
Due: flake8, isort, black, mypy

Have Garbler read XLSForm directly from file path
  garbling.py
Due: flake8, isort, black, mypy

Add unit tests for identifying survey elements subject to garbling
  tests/unit/garbler/test_find_garbling.py
Due: flake8, isort, black, mypy
